.App {
  height: 100vh;
  overflow-y: scroll; 
  overflow-x: hidden;
}

body{
  margin:0px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
}

body {
  font-family: 'Lora', serif;
}


@media screen and (max-width: 800px) {

}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
} */
