.auth-container {
    text-align: center;
    margin-bottom: 15%;
}

hr {
    height: 1px;
    background-color: #ED4C4C;
    border: none;
    width: 30%;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.auth-form > label > input {
    width: 88%;
    height: 30px;
    background: #F0F0F0;
    margin: 1% 0;
    border-radius: 5px;
    border: none;
}

.last-label {
    margin-bottom: 3%;
}

.login-button {
    width: 90%;
    color: white;
    height: 28px;
    margin: auto;
    background: #ED4C4C;
    border: none;
    border-radius: 16px;
}