.auth-container {
    text-align: center;
    margin-bottom: 15%;
}

hr {
    height: 1px;
    background-color: #ED4C4C;
    border: none;
    width: 30%;
}

.auth-logo {
    width: 15%;
    margin: 2% 0;
}

.auth-header {
    font-size: 3.5em;
    margin-bottom: 35px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

.auth-form > label > input {
    width: 88%;
    height: 30px;
    background: #F0F0F0;
    margin: 1% 0;
    border-radius: 5px;
    border: none;
}

.last-label {
    margin-bottom: 3%;
}

.login-button {
    width: 90%;
    color: white;
    height: 28px;
    margin: auto;
    background: #ED4C4C;
    border: none;
    border-radius: 16px;
}

#radio-options {
    display: flex;
    justify-content: space-between;
    width: 88%;
    font-size: x-large;
    margin: auto;
    margin-bottom: 3%;
}

#radio-options > label {
    margin-left: -40px;
}



 input[type="radio"] {
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box; 
  border: 2px solid #bbbbbb;
  background-color: transparent;
  border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: black;
}

