.mini-cards-container {
    text-align: center;
    width: 90%;
    margin: auto;
}

.event-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
    margin-bottom: 25px;
}


.card-container {
    text-align: center;
    width: 100%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
    background: white;

    a {
        text-decoration: none;
        color: black;

        section {
            
            img {
                border-radius: 5px 5px 0 0;
                width: 100%;
                height: 140px;
                margin: 0 0 2% 0;   
            }
        }
    }
}

.card-container:hover {
    box-shadow: 8px 15px 15px -10px rgba(66,66,66,1);
}


#bottom-event-card-section {
    display: grid;
    grid-template-columns: 20% 80%;
}

#event-card-left-section {
    margin-top: -60px;
    margin-left: -10px;
    width: 100%;
}
#event-card-left-section > p {
    font-size: 2.0em;
    color: #ed4c4c;
    padding-top: 13%;
    padding-left: 8%;
}

#event-card-right-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -6%;
}

#venue-name-and-likes {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: baseline;
    width: 100%;
    height: 80px;
}


/* this is for the single category css */

.single-category-container {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 10%;
}

.single-cat-container {
    display: flex;
    flex-direction: column;
}

.single-cat-container > a > img:hover {
    box-shadow: 8px 15px 15px -10px rgba(66,66,66,1);
}

.single-cat-container > a > img {
    width: 99%;
}

.left-category-section {
    width: 100%;
    padding: 55% 0;
    margin-top: -31.69%;
    margin-bottom: -24.51%;
    background: #F0F0F0;
    text-align: center;
}

.right-category-section {
    width: 100%;
    text-align: center;
}

#event-category-title {
    font-size: 2.5em;
    font-family: cursive;
}

.right-category-section > label > input {
    width: 44.5%;
    padding: 1% 2%;
    border: solid 1px #ED4C4C;
    border-radius: 22px;
    background: #F0F0F0;
}

.cat-event-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 25px;
}

.event-list--and-ul-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 10%;
}

.cat-mini-cards-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.cat-calender-filter {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 88%;
}

/* this is the single event card */

.single-card-container {
    text-align: center;
    width: 90%;
    margin: 1% 0 6.5% 2%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
    overflow-y: scroll;

    section {

        img {
            width: 100%;
            height: 250px;
            border-radius: 5px 5px 0 0;
            margin-bottom: 3%;
        }
    }
}



#single-bottom-event-card-section {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 0 2%;
}



#single-event-card-left-section {
    margin-right: -15px;
    margin-top: -92px;
    margin-left: -37px;
}
#single-event-card-left-section > p {
    color: #ed4c4c;
    font-size: 3em;
    padding-left: 14%;
    padding-top: 19%;
    width: 105px;
}

/* boundery */

#single-event-card-right-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-top: -6%;
    padding-left: 3%;
}

#single-venue-name-and-likes {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -37px;
    margin-top: 1.7%;
}

#buy-ticket-button {
    color: white;
    border: solid 1px #ED4C4C;
    border-radius: 16px;
    width: 110px;
    height: 29px;
    background: #ED4C4C;
    margin-bottom: 2%;
}

#back-to-events-button {
    background: white;
    border: solid 1px #ED4C4C;
    border-radius: 16px;
    width: 110px;
    height: 29px;
    color: #ED4C4C;
    margin-left: -68%;
}

#back-to-event-category {
    display: none;
}

#back-to-events-button:hover {
    color: white;
    background: #ED4c4c;
    cursor: pointer;
}

/* trending hash css */

.hashtag-container {
    text-align: center;
    width: 90%;
    
    &__hashtag-list {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        color: #ED4C4C;
        flex-wrap: wrap;
        margin-left: 8%;
        width: 77%;

        li {
            margin: 0 5px;
            cursor: pointer;
        }
    }
}

.single-event-hashtag-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: #ED4C4C;
    flex-wrap: wrap;
    margin-left: -39px;

    li {
        margin: 0 5px;
        cursor: pointer;
    }
}

.selected-tag {
    font-family: fantasy;
    font-size: 1.18em;
    font-weight: bolder;
    text-decoration: underline;
}

.webpage-display-none {
    display: none;
}


@media screen and (max-width: 440px) {

    .single-category-container {

        #back-to-event-category{
            display: inline;
            background: white;
            border: solid 1px #ED4C4C;
            border-radius: 16px;
            width: 110px;
            height: 29px;
            color: #ED4C4C;
            position: relative;
            left: 33%;
        }


        #event-category-title {
            margin-top: 0px;
            margin-bottom: 15px;
        }

        .mobile-display-none {
            display: none;
        }

        display: block;
        text-align: center;
        padding: 0;

        .event-list--and-ul-container {
            display: block;
            width: 100%;
            padding: 0;

            .single-card-container {
                text-align: center;
                border: 1px solid rgb(201, 199, 199);
                border-radius: 5px;
                overflow-y: scroll;
                width: 98%;
                margin: auto;


                #single-bottom-event-card-section {
                    display: grid;
                    grid-template-columns: 18% 82%;
                    width: 100%;
                    padding: 0; 

                    #single-event-card-left-section {
                        p {
                            color: #ed4c4c;
                            font-size: 2.2em;
                            padding-top: 47%;
                            padding-left: 25%;
                            width: 65%; 
                        }
                    }

                    #single-event-card-right-section {
                        width: 93%;
                    }
                }
            }

            .cat-event-list-container {
                display: grid;
                grid-template-columns: 1fr;
                width: 90%;
                grid-gap: 25px;
                margin: auto;
            }
                
            
            #mobile-hr {
                margin-left: 10%;
                margin-bottom: 6%;
                width:81%;
                height: 1.5px;
            }
            
        }
        
    }



}