.mini-cards-container {
    text-align: center;
    width: 90%;
    margin: auto;
}

.event-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
    margin-bottom: 25px;
}


.card-container {
    text-align: center;
    width: 100%;
    // margin: 1% 1% 1.5% 1%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
    background: white;

    a {
        text-decoration: none;
        color: black;

        section {
            
            img {
                border-radius: 5px 5px 0 0;
                width: 100%;
                height: 140px;
                margin: 0 0 2% 0;   
            }
        }
    }
}

.card-container:hover {
    box-shadow: 8px 15px 15px -10px rgba(66,66,66,1);
}

// .card-container > a > section > img {
//     width: 8%;
//     height: 140px;
//     margin: 2% 0;   
// }

// .card-container > a {
//     text-decoration: none;
//     color: black;
// }

#bottom-event-card-section {
    // display: flex;
    // margin: 0 3%;
    display: grid;
    grid-template-columns: 20% 80%;
}

#event-card-left-section {
    margin-top: -60px;
    margin-left: -10px;
    width: 100%;
}
#event-card-left-section > p {
    font-size: 2.0em;
    color: #ed4c4c;
    padding-top: 13%;
    padding-left: 8%;
}

#event-card-right-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -6%;
}

#venue-name-and-likes {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: baseline;
    width: 100%;
    height: 80px;
}


/* this is for the single category css */

.single-category-container {
    /* display: flex;
    justify-content: space-around;
    width: 88%;
    margin-left: 10%; */
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 10%;
}

.single-cat-container {
    display: flex;
    flex-direction: column;
}

.single-cat-container > a > img:hover {
    box-shadow: 8px 15px 15px -10px rgba(66,66,66,1);
}

.single-cat-container > a > img {
    width: 99%;
}

.left-category-section {
    width: 100%;
    padding: 55% 0;
    margin-top: -31.69%;
    margin-bottom: -24.51%;
    background: #F0F0F0;
    text-align: center;
    // width: 26%;
    // padding: 10% 0;
    // margin-top: -5.69%;
    // margin-bottom: -4.51%;
    // background: #F0F0F0;
    // text-align: center;
}

.right-category-section {
    width: 100%;
    // padding: 0 2% 0 0;
    text-align: center;
    // width: 60%;
    // padding: 0 2%;
    // margin-left: 5%;
}

#event-category-title {
    font-size: 2.5em;
    font-family: cursive;
    // margin-left: -3%;
    // margin-bottom: 15px;
}

.right-category-section > label > input {
    width: 44.5%;
    padding: 1% 2%;
    border: solid 1px #ED4C4C;
    border-radius: 22px;
    background: #F0F0F0;
}

.cat-event-list-container {
    // display: flex;
    // flex-wrap: wrap;
    // width: 150%;
    // margin: auto;
    // margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 25px;
}

.event-list--and-ul-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 10%;
    // margin-left: -69px;
    // width: 110%;
}

.cat-mini-cards-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.cat-calender-filter {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 88%;
}

/* this is the single event card */

.single-card-container {
    text-align: center;
    width: 90%;
    margin: 1% 0 6.5% 2%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
    overflow-y: scroll;

    section {

        img {
            width: 100%;
            height: 250px;
            border-radius: 5px 5px 0 0;
            margin-bottom: 3%;
        }
    }
}

// .single-card-container > section > img {
//     width: 95%;
//     height: 240px;
//     margin: 2% 0;   
// }


#single-bottom-event-card-section {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 0 2%;
}



#single-event-card-left-section {
    margin-right: -15px;
    margin-top: -92px;
    margin-left: -37px;
}
#single-event-card-left-section > p {
    color: #ed4c4c;
    font-size: 3.0em;
    padding-top: 19%;
    padding-left: 10%;
}

/* boundery */

#single-event-card-right-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-top: -6%;
    padding-left: 3%;
}

#single-venue-name-and-likes {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -37px;
    margin-top: 1.7%;
}

#buy-ticket-button {
    color: white;
    border: solid 1px #ED4C4C;
    border-radius: 16px;
    width: 110px;
    height: 29px;
    background: #ED4C4C;
    margin-bottom: 2%;
}

#back-to-events-button {
    background: white;
    border: solid 1px #ED4C4C;
    border-radius: 16px;
    width: 110px;
    height: 29px;
    color: #ED4C4C;
    margin-left: -68%;
}

#back-to-events-button:hover {
    color: white;
    background: #ED4c4c;
    cursor: pointer;
}

/* trending hash css */

.hashtag-container {
    text-align: center;
    width: 90%;
    
    &__hashtag-list {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        color: #ED4C4C;
        flex-wrap: wrap;
        margin-left: 8%;
        width: 77%;

        li {
            margin: 0 5px;
            cursor: pointer;
        }
    }
}

.single-event-hashtag-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: #ED4C4C;
    flex-wrap: wrap;
    margin-left: -39px;

    li {
        margin: 0 5px;
        cursor: pointer;
    }
}

// .single-event-hashtag-list > li {
//     margin: 0 5px;
//     cursor: pointer;
// }

// .hashtag-list > li {
//     margin: 0 5px;
//     cursor: pointer;
// }

.selected-tag {
    font-family: fantasy;
    font-size: 1.18em;
    font-weight: bolder;
    text-decoration: underline;
}