.mini-cards-container {
    text-align: center;
    width: 88%;
    margin: auto;
}

.event-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
}


.card-container {
    text-align: center;
    width: 30%;
    margin: 1% 1% 1.5% 1%;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
}

.card-container > a > section > img {
    width: 95%;
    height: 140px;
    margin: 2% 0;   
}

.card-container > a {
    text-decoration: none;
    color: black;
}

#bottom-event-card-section {
    display: flex;
    margin: 0 3%;
}

#event-card-left-section {
    margin-right: 4%;
}

#event-card-right-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 88%;
    margin-top: -6%;
}

#venue-name-and-likes {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -2px;
}


/* this is for the single category css */

.single-category-container {
    display: flex;
    justify-content: space-around;
    width: 88%;
    margin-left: 10%;
}

.single-cat-container {
    display: flex;
    flex-direction: column;
}

.left-category-section {
    width: 26%;
    padding: 10% 0;
    margin-top: -5.69%;
    margin-bottom: -4.51%;
    background: #F0F0F0;
    text-align: center;
}

.right-category-section {
    width: 60%;
    padding: 0 2%;
    margin-left: 5%;
}

#event-category-title {
    font-size: 2.5em;
    font-family: cursive;
    margin-left: -3%;
    margin-bottom: 15px;
}

.right-category-section > label > input {
    width: 44.5%;
    padding: 1% 2%;
    border: solid 1px #ED4C4C;
    border-radius: 22px;
    background: #F0F0F0;
}

.cat-event-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 110%;
    margin: auto;
    margin-left: 5%;
}

.event-list--and-ul-container {
    margin-left: -69px;
    width: 110%;
}

.cat-mini-cards-container {
    text-align: center;
    width: 90%;
}

.cat-calender-filter {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

/* this is the single event card */

.single-card-container {
    text-align: center;
    width: 60%;
    margin: 1% 1% 6.5% 4%;
    height: 550px;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
}

.single-card-container > section > img {
    width: 95%;
    height: 240px;
    margin: 2% 0;   
}


#single-bottom-event-card-section {
    display: flex;
    margin: 0 3%;
}

#single-event-card-left-section {
    margin-right: 4%;
}

#single-event-card-right-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 88%;
    margin-top: -6%;
}

#single-venue-name-and-likes {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -37px;
    margin-top: 1.7%;
}

#buy-ticket-button {
    color: white;
    border: solid 1px #ED4C4C;
    border-radius: 16px;
    width: 110px;
    height: 29px;
    background: #ED4C4C;
    margin-bottom: 2%;
}

#back-to-events-button {
    background: white;
    border: solid 1px #ED4C4C;
    border-radius: 16px;
    width: 110px;
    height: 29px;
    color: #ED4C4C;
    margin-left: -5%;
}

/* trending hash css */

.hashtag-container {
    text-align: center;
    width: 60%;
}

.hashtag-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: #ED4C4C;
    flex-wrap: wrap;
}

.single-event-hashtag-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: #ED4C4C;
    flex-wrap: wrap;
    margin-left: -39px;
}

.single-event-hashtag-list > li {
    margin: 0 5px;
    cursor: pointer;
}

.hashtag-list > li {
    margin: 0 5px;
    cursor: pointer;
}