.footer-container {
    background: black;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    height: 135px;
    padding: 0 30px;

    &__logo > a > img {
        width: 40%;
    }

    &__right-side-options {
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding-left: 60%;
        a {
            text-decoration: none;
            color: white;
            font-size: small;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}


/* secondary footer starts here   */

.footer-secondary-container {
    text-align: center;
    margin: 4% 0 0 0;
    background: #ED4C4C;
    padding: 2% 0;
    color: white;
    font-size: 1.4em;
    width: 112%;
    margin-left: -6%;

    form {
        margin-top: -17px;
        margin-bottom: 1%;

        label > input {
            width: 19%;
            border: none;
            border-radius: 16px;
            height: 20px;
            margin-right: 0.6%;
            padding: 0 0% 0 1%;
        }

        button {
            border: none;
            border-radius: 16px;
            color: #ED4C4C;
            background: white;
            width: 4%;
            padding: 0.2% 0;
        }
    }
}


@media screen and (max-width: 440px) {
    .footer-secondary-container { 
        display: none;
    }

    .footer-container {
        height: 100px;
        display: grid;
        grid-template-columns: 15% 85%;

        &__logo{
            a {
                img {
                    width: 160%;
                }
            }
        }

        &__right-side-options {
            display: flex;
            justify-content: space-around;
            width: 70%;
            padding-left: 38%;
        }

        .mobile-display-none {
            display: none;
        }
    }
}