.navbar {
    background: white;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    height: 92px; 
    padding: 0 30px;

    &__logo {
        width: 40%; 
    }

    &__right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 250px;

        &__non-button-links.active {
            border-bottom: 1px solid black;
        }

        &__auth-buttons {
            width: 215px;
            display: flex;
            justify-content: space-between;

            a.active > button {
                background: #ED4C4C;
                color: white;
                border: none;
            }
        }

        a {
            text-decoration: none;
            color: #ED4C4C;
            font-size: small;

            button {
                background: white;
                border: solid 1px #ED4C4C;
                border-radius: 16px;
                width: 95px;
                height: 29px;
                color: #ED4C4C;
            }

            button:hover {
                background: #ED4C4C;
                color: white;
            }
        }
        a:hover {
            color: rgb(247, 3, 3);
            text-decoration: underline;
        }       
    }
}

#profile-init {
    width: 5%;
    border: solid 1px;
    border-radius: 50%;
    text-align: center;
}

#profile-init.active {
    background: #ED4C4C;
    color: white;
}



/* this is mobile and responsiveness stles */

@media screen and (max-width: 400px) {

}