.navbar {
    background: white;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    height: 92px; 
    padding: 0 30px;

    &__logo {
        width: 40%; 
    }

    &__right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 250px;

        &__non-button-links.active {
            border-bottom: 1px solid black;
        }

        &__auth-buttons {
            width: 215px;
            display: flex;
            justify-content: space-between;

            a.active > button {
                background: #ED4C4C;
                color: white;
                border: none;
            }
        }

        a {
            text-decoration: none;
            color: #ED4C4C;
            font-size: small;

            button {
                background: white;
                border: solid 1px #ED4C4C;
                border-radius: 16px;
                width: 95px;
                height: 29px;
                color: #ED4C4C;
            }

            button:hover {
                background: #ED4C4C;
                color: white;
            }
        }
        a:hover {
            color: rgb(247, 3, 3);
            font-weight: 900;
            text-decoration: underline;
        }       
    }
}

#profile-init {
    width: 5%;
    border: solid 1px;
    border-radius: 50%;
    text-align: center;
}

#profile-init.active {
    background: #ED4C4C;
    color: white;
}

// #signup-active.active > button {
//     background: #ED4C4C;
//     color: white;
//     border: none;
// }

// #login-active.active > button {
//     background: #ED4C4C;
//     color: white;
//     border: none;
// }

// .logo {
//     width: 23%;
// }
 
// .left-side-nav {
//     margin-left: 4%;
// }

// .left-side-nav > a {
//     text-decoration: none;
//     color: #ED4C4C;
// }


// .right-side-nav {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     margin-right: 2%;
//     width: 35%;
// }

// .right-side-nav > a {
//     text-decoration: none;
//     color: #ED4C4C;
//     width: 19%;
//     font-size: small;
// }

// nav a:hover,
// nav a:active {
//     // color: rgb(247, 3, 3);
//     color: black;
//     // border-radius: 16px;
//     font-weight: 600;
//     text-decoration: underline;
// }



// .right-side-nav > a > button {
//     background: white;
//     border: solid 1px #ED4C4C;
//     border-radius: 16px;
//     width: 90%;
//     height: 29px;
//     color: #ED4C4C;
// }

// .right-side-nav > a > button:hover {
//     background: #ED4C4C;
//     color: white;
// }


/* this is mobile and responsiveness stles */

@media screen and (max-width: 400px) {

}