.profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: -3%;
}

.header-section {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    width: 50%;
    height: 247px;
    margin: auto;
    padding: 15px 0;
}

.user-info > img {
    width: 40%;
    border-radius: 50%;
    margin-right: 50px;
}

#edit-icon {
    width: 4%;
    padding: 3px;
    height: 25px;
    margin: 205px 0 0 -124px;
    background: #ED4C4C;
}

.user-info > form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 50%;
    align-items: flex-start;
    margin-left: 90px;
}

.user-info > form > label > input {
    margin: 3% 0;
    width: 292px;
    padding: 2%;
    border-radius: 5px;
    background: #F0F0F0;

}

#save-button {
    border: none;
    background: rgb(201, 199, 199);
    width: 310px;
    padding: 2%;
    color: white;
    border-radius: 17px;
}

#favorite-container {
    background: #ED4C4C;
    color: white;
    text-align: center;
    padding: 1px 0;
    margin-top: 2%;
    border-radius: 5px;
    height: 487px;
    overflow-y: scroll;
    margin-bottom: 2%;
}



/* this is for posting a photo */

.post-photo-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: -3%;
}

.photo-section-and-form {
    display: flex;
    width: 55%;
    height: 350px;
    margin: auto;
    padding: 15px 0;
}

.photo-section-and-form > img {
    width: 31%;
    height: 330px;
    margin-right: 0px;
    padding-top: 2%;
}

.photo-section-and-form > form {
    display: flex;
    flex-direction: column;
    padding: 1% 0 0 0;
    width: 57%;
    align-items: flex-start;
    margin-left: 50px;
    height: 315px;
}

.photo-section-and-form > form > label > input {
    margin: 3% 0;
    width: 330px;
    padding: 4%;
    border-radius: 5px;
    background: #F0F0F0;
    text-align: center;
}

#upload-button {
    border: none;
    background: #ED4C4C;
    width: 358px;
    padding: 4%;
    color: white;
    border-radius: 5px;
}

#confirm-button {
    border: none;
    background: rgb(60, 241, 60);
    width: 358px;
    padding: 4%;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
    margin-top: 12px;
    cursor: pointer;
}


.fav-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 98.7%;
}

.fav-list-container > .card-container {
    margin: 0 5px;
}


.selected-tags-container{
    display: flex;
}

.selected-tags {
    display: flex;
}

.selected-tags > p {
    display: flex;
    margin: 5px;
    background: lightskyblue;
    padding: 0 1px;
    font-style: italic;
}

#delete-tag {
    background: transparent;
    cursor: pointer;
    font-size: smaller;
    position: static;
    margin-left: -9px;
    margin-top: -3px;
    padding: 2px;
    color: red;
    height: 20px;
    width: 18px;
}

.available-tag {
    padding-left: 150px;
    margin: -8px 0 12px 0;
}


.available-tag > li {
    list-style: none;
    cursor: pointer;
    margin-bottom: 1px;
}


/* photo posted container */


.photo-posted {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid #ed4c4c;
}

.photo-posted-container {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin: -20px 0px;
}

.photo-card{
    background: #ed4c4c;
    margin: 0.5% 1%;
    width: 23%;
    border-radius: 17px;
    box-shadow: 8px 15px 15px -10px rgba(66,66,66,1);
}

.photo-card > img {
    width: 96%;
    height: 270px;
    margin: 2% 1% 1% 2%;
    border-radius: 17px;
}


@media screen and (max-width: 440px) {
    .profile-container {
        width: 98%;

        hr {
            width: 70%;
        }

        .user-info {
            width: 98%;

            img {
                width: 25%;
                height: 92px;
                margin-right: 15px;
            }

            #edit-icon {
                height: 16px;
                margin: 64px 0 0 -43px;
            }

            form {
               margin-left: 13px; 

               label {
                   input {
                       width: 242px;
                   }

                   #save-button {
                       width: 254px;
                   }
               }
            }
        }

        #favorite-container {

            .fav-list-container {
                grid-template-columns: 1fr;
                margin: auto;
                width: 98%;

                .card-container {
                    width: 97%;
                }
            }
        }

        .photo-posted {
            margin-top: 4%;

            .photo-posted-container {
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 1%;
                .photo-card {
                    width: 98%;
                    height: 342px;

                    img {
                        height: 250px;
                    }

                    .hashtag-container__hashtag-list {
                        margin: auto;
                        width: 98%;
                        margin-left: -16%;
                    }
                }
            }
        }
    }

    .post-photo-container {
        width: 95%;

        .header-section {
            
            hr {
                width: 70%;
            }
        }

        .photo-section-and-form {
            display: block;
            width: 100%;

            form {
                width: 98%;
                margin: auto;
            }
        }

        .photo-posted {
            margin: 2% 0 10% 0;

            .photo-posted-container {
                margin: 0;

                .photo-card {
                    width: 95%;
                    margin: auto;
                    margin-bottom: 4%;
                }
            }
        }
    }
}
